.main {
  background: #DDD;
  width: 100%;
  height: 100%;
  display: flex;
  .middle {
    flex: 1;
    background: yellow;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    .content {
      flex: 1;
      background: red;
      position: relative;
    }
  }
}